<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:aop="http://www.springframework.org/schema/aop"
	xmlns:tx="http://www.springframework.org/schema/tx"
	xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-3.0.xsd
    					http://www.springframework.org/schema/aop http://www.springframework.org/schema/aop/spring-aop-3.0.xsd    
                        http://www.springframework.org/schema/tx http://www.springframework.org/schema/tx/spring-tx-3.0.xsd">

	<!-- <bean id="UniversalService" class="com.service.impl.UniversalServiceImpl"> 
		<property name="universalDao" ref="UniversalDao" /> </bean> -->
	<bean id="UniversalService" class="com.db.service.impl.UniversalServiceImpl">
		<property name="universalDao" ref="UniversalDao" />
	</bean>

	<bean id="DepartmentService" class="com.db.service.impl.DepartmentServiceImpl" parent="UniversalService">
		<property name="departmentDao" ref="DepartmentDao" />
	</bean>
	
	<bean id="PersonalService" class="com.db.service.impl.PersonalServiceImpl" parent="UniversalService">
		<property name="personalDao" ref="PersonalDao" />
	</bean>
	
	<bean id="ItemService" class="com.db.service.impl.ItemServiceImpl" parent="UniversalService">
		<property name="itemDao" ref="ItemDao" />
	</bean>
	
	<bean id="PaymentService" class="com.db.service.impl.PaymentServiceImpl" parent="UniversalService">
		<property name="paymentDao" ref="PaymentDao" />
	</bean>
	
	<bean id="UseService" class="com.db.service.impl.UseServiceImpl" parent="UniversalService">
		<property name="useDao" ref="UseDao" />  
	</bean>
	
	<bean id="ReportService" class="com.db.service.impl.ReportServiceImpl" parent="UniversalService">
		<property name="reportDao" ref="ReportDao" />  
	</bean>
	
</beans>